/* Estilos para contact  debe  tener  el  mismo  que  le  formulario  de  contacto  de  la  imagen
acuerdate  de  color  lo  stylos  correctos*/


body {
  background-color: #98daa2;
  font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}


h1 {
    font-size: 22px;
    color:  lightblue;
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    font-weight: 700;
<<<<<<< HEAD
    font-family: verdana;
=======
    font-family: 'Roboto', sans-serif;
>>>>>>> 3fd32aa563bde2f180ad1ccc5ae13315c0a60392
  }

  /*este  va  hacer  el    nuevo  formato no  modifiques*/
